{%extends "pomocne/cardbase.html"%} 
{%block cardbody%}
<div class="form-group">
    <label for="textArea">Výstup konzole</label>
    <div id="stdout">
    </div>
</div>
{%endblock%}

{%block anotherCard%}
<div class="container">
    <form method='POST'>
        <divc class="row">
                <div class="col-lg-8 mt-1">
                    <input type="text" placeholder="Console input" class="form-control" id="consoleInput" name="consoleInput">
                </div>
                <div class="col-lg-2 mt-1 p-0 text-center">
                    <button type="submit" class="text-center btn btn-secondary mb-2 m-0">Send to console</button>
                </div>
                <div class="col-lg-2 mt-1 p-0 text-center">
                    <button type="button" onclick="location.pathname='/cancelDownload/{{id}}'" class="text-center btn btn-danger mb-2 m-0">Cancel download</button>
                </div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='console.js') }}"></script>
{%endblock%}