{%extends "pomocne/cardbase.html"%} 
{%block cardbody%}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-label mt-3">Url z <a href="https://uloz.to/" target="_blank" rel="noopener noreferrer">Uložto</a></div>
    {{ form.url(class="form-control") }}

    {{ form.submit(class="btn btn-secondary mt-5") }}
</form>
<div class="row">
    <div id="overview" class="col">  
    </div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>
{%endblock%}
