{%extends "pomocne/cardbase.html"%} 
{%block cardbody%}
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-label mt-3">Url z <a href="https://uloz.to/" target="_blank" rel="noopener noreferrer">Uložto</a></div>
    {{ form.url(class="form-control") }}

    {{ form.submit(class="btn btn-secondary mt-5") }}
</form>
<h5 class="mt-4">Stahované soubory</h5>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Název souboru</th>
      <th scope="col">Postup</th>
      <th scope="col"></th>
      <th scope="col">Velikost</th>
      <th scope="col">Rychlost</th>
      <th scope="col">Čas</th>
    </tr>
  </thead>
  <tbody id="files">
  </tbody>
</table>


<script src="{{ url_for('static', filename='index.js') }}"></script>
{%endblock%}
