{%extends "pomocne/base.html"%}
{%block body%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 1100px;">
            <div class="m-5 mb-3">
                <h5 class="card-header"style="border-radius: 25px 25px 0px 0px;"><span class="ms-2">{{title}}</span></h5>
                <div class="card-body">
                    {%block cardbody%}{%endblock%}
                </div>
            </div>
        </div>
    </div>
</div>
{% if allowSecond %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 1100px;">
            <div class="card mx-5">
                <h5 class="card-header"style="border-radius: 25px 25px 0px 0px;"><span class="ms-2">{{titleSecondary}}</span></h5>
                <div class="card-body">
                    {%block anotherCard%}{%endblock%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{%endblock%}