<div class="container mt-4" >
    <div class="card m-2 mb-4">
        <nav class="navbar row">
            <span class="col align-self-center mx-3 navbar-brand">Uložto downloader</span>
            <div class="col align-self-center nav-item"><a class="nav-link bi-house-door" href="{{url_for('index')}}"> Domů</a></div>
            <div class="col align-self-center nav-item"><a class="nav-link bi-people-fill" href="{{url_for('about')}}"> O programu</a></div>
            <div class="col align-self-center nav-item"><a class="nav-link bi-github" href="https://github.com/Manderius/ulozto-downloader" target="_blank" rel="noopener noreferrer"> Github</a></div>
        </nav>
    </div>
</div>
