<div class="container mt-4 narrowContainer" >
    <div class="card">
        <nav class="navbar row">
            <span class=" col align-self-center mx-3 navbar-brand">Uložto downloader</span>
            <div class="col align-self-center nav-item"><a class="nav-link bi-house-door" href="{{url_for('index')}}"> Home</a></div>
            <div class="col align-self-center nav-item"><a class="nav-link bi-people-fill" href="{{url_for('about')}}"> About</a></div>
            <div class="col align-self-center nav-item"><a class="nav-link bi-github" href="https://github.com/Kvasa52/ulozto-downloader" target="_blank" rel="noopener noreferrer"> Github</a></div>
        </nav>
    </div>
</div>
